#cards {
  margin-top: 50px;
  margin-bottom: 0;
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;

  @include breakpoint(medium) {
    margin-top: 100px;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
  }

	@include breakpoint(large) {
		margin-top: 120px;
		margin-bottom: 40px;
		grid-template-columns: repeat(2, 1fr)
	}
}

.card {
	$delay: .15s;
	$duration: .4s;
	$timing: cubic-bezier(.51, .92, .24, 1);
	position: relative;
	display: flex;
	flex-direction: column;
  	background: white;
  	border: 0 none;
	text-decoration: none;
	overflow: hidden;
	transition-property: color;
	transition-delay: $delay;
	box-shadow: 0 2px 20px rgba(0, 0, 0, .1);

	&:before,
	&:after {
		content: '';
		width: 10px;
	}

	&.hover {
		color: white;
		transition-delay: 0;
	}

	&,
	&__image,
	&__image::after,
	&__author,
	&__body,
	&__foot {
		transition-duration: $duration;
		transition-timing-function: $timing;
	}

	&__head {
		position: relative;
		padding-top: 50%;
	}

	&__author {
		position: absolute;
		padding: 30px;
		left: 0;
		bottom: 0;
		color: white;
		transition-property: transform;
		transition-delay: $delay;
	}

	&.hover &__author {
		transition-delay: 0;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center;
		transform-origin: top center;
		transition-property: transform;
    	transition-delay: $delay;
    	overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: .5;
			background: linear-gradient(30deg,rgba(71, 26, 99, 0.85),rgba(98, 26, 99, 0.5));
			transition-property: opacity;
			transition-delay: $delay;
		}
		video {
			position: absolute;
			left: 0;
			object-fit: cover;
			width: 100%;
			top: 0;
			height: 100%;
		}
	}

	&.hover &__image {
		transition-delay: 0;
		&::after {
			opacity: 1;
			transition-delay: 0;
		}
	}

	&__body {
		position: relative;
		padding: 1.875rem;
		height: 100%;
		transition-property: transform;
		transition-delay: $delay;
  	}

  &__link {
    margin: 12px 0;
  }

	&.hover &__body {
		transition-delay: 0;
	}

	&__headline {
		margin: 0 0 .8em;
	}

	&__text {
		margin: 0;
    opacity: .8;
	}

	&__foot {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 2em 2em;
		opacity: 0;
		transition-property: opacity;

		&.hidden {
			opacity: 0;
			padding: 0;
		}
	}

	&.hover &__foot {
		opacity: 1;
		transition-delay: $delay;
	}

	&__link {
		a {
			color: white;
			background: none;
			text-decoration: none;
			border-bottom: 2px solid #fff;
		}
	}

}

.author {
	display: flex;
	align-items: center;

	&__header {
		margin: 0;
		font-weight: 600;
	}

	&__subheader {
		margin: 0;
		opacity: .8;
	}

}