header {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-direction: column-reverse;
  @include breakpoint(medium) {
    flex-direction: row-reverse;
    align-items: center;
  }

  @include breakpoint(large) {
    //position: relative;
    background: none;
    padding-top: 90px;
    padding-bottom: 50px;
    flex-direction: row-reverse;


    align-items: center;
  }
}

#navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  visibility: visible;

  @include breakpoint(medium) {
    visibility: visible;
  }

  li {
    padding: 10px 10px;
    line-height: 1;
    margin-bottom: 0;
    //font-family: "Crimson Text",Georgia,Serif;

    @include breakpoint(medium) {
      padding: 10px 10px;
    }

    @include breakpoint(large) {
      padding: 10px 15px;
    }

    &:first-of-type {
      padding-left: 0;
    }
    a {
      color: #4A4A4A;
      //font-size: 1.1764705882352942rem;
      font-size: 1rem;
      padding-bottom: 2px;
      transition: all 0.2s ease-in-out;
      &.active {
        box-shadow: 0 1px 0 var(--primary-colour);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

#logo {
  font-size: 1.8823529411764706rem;
  letter-spacing: -1px;
  margin-right: auto;
  line-height: 1;
  animation-play-state: paused;

  @include breakpoint(medium) {
    font-size: 1.8823529411764706rem;
    margin-right: auto;
    margin-left: 0;
  }

  @include breakpoint(large) {
    font-size: 2.3529411764705883rem;
    margin-right: auto;
    margin-left: 0;
  }

  a {
    &:hover {
      color: #4A4A4A;
      text-decoration: none;
      box-shadow: none;
    }
  }

  // &:hover {
  //   animation-play-state: running;
  // }
}
