header {
  display: flex;
  padding-top: 7%;
  padding-bottom: 7%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  #navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      line-height: 1;
      margin-bottom: 0;
        padding: 10px 15px;
        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }

      a {
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        color: var(--black);
        &.active {
          border-color: var(--grey);
          &:hover {
            border-color: var(--grey);
          }
        }
        &:hover {
          border-color: var(--grey);
        }
      }
    }
  }
}

.logo {
  font-size: 1.8rem;
  letter-spacing: -1px;
  animation-play-state: paused;
  font-family: var(--logo-font);
  font-display: optional;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -1.5px;
  background: linear-gradient(#fff0, #fff0) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), var(--primary-colour), #651fff) border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 2px 0 0;
  box-shadow: none;
  border: 0 none;
  margin-right: 15px;
  &:hover {
    text-decoration: none;
    box-shadow: none;
  }

  @include breakpoint(medium) {
    font-size: 1.8rem;
    margin-right: auto;
  }

  @include breakpoint(large) {
    font-size: 2rem;
    margin-right: auto;
  }
}
