#services {
  ul {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    @include breakpoint(medium) {
      grid-gap: 40px;
    }
    @include breakpoint(large) {
      grid-gap: 60px;
    }
    li {
      h3 {
        margin-bottom: .8rem;
      }
    }
  }
}
