#case-studies {
  list-style: none;
  //padding: 0;
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  //overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  flex-wrap: wrap;

  //margin-left: 30px;
  //margin-right: 30px;

  .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    min-height: 50vh;
    width: calc(100% - 15px);
    margin-bottom: 30px;

    &:nth-child(odd) {
      margin-right: 0;
      @include breakpoint(large) {
        margin-right: 30px;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    @include breakpoint(large) {
      //min-width: 50vw;
      //min-height: 500px;
      //margin-left: 0;
      //margin-bottom: 0;

      min-height: 500px;
      width: calc(50% - 15px);
    }

    .item-inner {
      padding: 25px 7% 25px 7%;
      width: 100%;
      transition: all .2s ease 0s;
      @include breakpoint(large) {
        padding: 36px;
      }
    }

    &:hover {
      p, a {
        opacity: .7;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
    }

    a {
      transition: opacity .3s ease-out .1s,transform .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
      -webkit-transform: translate3d(-5px,0,0);
      transform: translate3d(-5px,0,0);
      opacity: 0;
    }

    p {
      transition: opacity .3s ease-out .1s,transform .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
      -webkit-transform: translate3d(-5px,0,0);
      transform: translate3d(-5px,0,0);
      opacity: 0;
      max-width: 90%;
      pointer-events: none;
      @include breakpoint(medium) {
        max-width: 80%;
        font-size: 1.0588235294117647rem;
      }

      @include breakpoint(large) {
        font-size: 1.1764705882352942rem;
        max-width: 80%;
      }
    }

    &#wateraid {
      background-image: url('../images/VFMAD63_029.webp');
      color: #fff;
    }

    &#mj-speechtherapy {
      background-image: url('../images/mj-speechtherapy.webp');
      color: #fff;
    }

    &#hb-cleaning {
      background-image: url('../images/hb-room.webp');
      color: #fff;
    }

    &#tbl {
      background-image: url('../images/tbl-small.webp');
    }

    &#southern-sports {
      background-image: url('../images/hockey_player_large3.webp');
      background-position: center top;
      color: #fff;
    }

    &#sarah {
      background-image: url('../images/sarah-may-low.webp');
      color: #fff;
    }

    &#bailey {
      background-image: url('../images/amy-low-res.webp');
    }

    &#brand-hub {
      background-image: url('../images/brand-hub_0.webp');
    }

    &#thirsty-thursdays {
      background-image: url('../images/thirstythursdays_620.webp');
      color: #fff;
    }
  }

  .item-inner:hover,
  .item-inner:active {
    * {
      color: #fff;
    }
      background: #a864a8;
  }

}
