#case-studies {
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  -webkit-overflow-scrolling: touch;
  flex-wrap: wrap;

  @include breakpoint(medium) {
    margin-top: 70px;
    margin-bottom: 30px;
  }

  @include breakpoint(large) {
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    min-height: 50vh;
    width: 100%;
    margin-bottom: 30px;

    &:nth-child(odd) {
      margin-right: 0;
      @include breakpoint(large) {
        margin-right: 30px;
      }
    }

    &:last-of-type {
        margin-bottom: 0;
      @include breakpoint(medium) {
        margin-right: 0;
        margin-bottom: 30px;
      }

      @include breakpoint(large) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    @include breakpoint(large) {
      min-height: 500px;
      width: calc(50% - 15px);
    }

    .item-inner {
      padding: 25px 7% 25px 7%;
      width: 100%;
      transition: all .2s ease 0s;
      * {
        color: #fff;
      }
      background:rgba(0,0,0,0.6);

      span {
        font-size: .9rem;
      }

      @include breakpoint(medium) {
        background: transparent;
        * {
          color: inherit;
        }
      }

      @include breakpoint(large) {
        background: transparent;
        padding: 36px;
        * {
          color: inherit;
        }
      }
    }

    &:hover {
      p, a {
        opacity: .7;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
    }

    a {
      transition: opacity .3s ease-out .1s,transform .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      opacity: .7;
      @include breakpoint(medium) {
        -webkit-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0);
        opacity: 0;
      }
      @include breakpoint(large) {
        -webkit-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0);
        opacity: 0;
      }
    }

    p {
      transition: opacity .3s ease-out .1s,transform .3s ease-out .1s,-webkit-transform .3s ease-out .1s;
      opacity: .7;
      max-width: 90%;
      pointer-events: none;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      @include breakpoint(medium) {
        -webkit-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0);
        opacity: 0;
        max-width: 80%;
        font-size: 1.0588235294117647rem;
      }

      @include breakpoint(large) {
        -webkit-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0);
        opacity: 0;
        font-size: 1.1764705882352942rem;
        max-width: 80%;
      }
    }

    &#wateraid {
      background-image: url('../images/VFMAD63_029.jpg');
      color: #fff;

      .item-inner {
        position: relative;
        overflow: hidden;

        h3, span {
          z-index: 4;
          position: relative;
        }

        .case-study-video {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
        }
      }
    }

    &#mj-speechtherapy {
      background-image: url('../images/mj-speechtherapy.jpg');
      color: #fff;
    }

    &#hb-cleaning {
      background-image: url('../images/hb-room.jpg');
      color: #fff;
    }

    &#brand-hub {
      background-image: url('../images/brand-hub_0.jpg');
    }
  }

  .item-inner:hover,
  .item-inner:active {
    * {
      color: #fff;
    }
      background:rgba(0,0,0,0.6);
      transition: all 0.2s;
  }

}
