#Footer {

}

.Footer-inner {
  border-top: 1px solid #E5E5E5;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
  @include breakpoint(medium) {
    margin-top: 75px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @include breakpoint(large) {
    margin-top: 75px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  p {
    margin-bottom: 0;
  }
}
