header {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-direction: column-reverse;
  @include breakpoint(medium) {
    flex-direction: row;
    align-items: center;
  }

  @include breakpoint(large) {
    position: relative;
    background: none;
    padding-top: 90px;
    padding-bottom: 50px;
    flex-direction: row;
    align-items: center;
  }

  /*    #toggle {
        height: 50px;
        width: 50px;
        display: block;
        background: red;
        border-radius: 250px;
        text-indent: -9999px;
        z-index: 11;
        position: fixed;

        @include breakpoint(medium) {
          display: none;
        }

        &.active {
          + #navigation {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #E5E5E5;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 10;
            visibility: visible;
            li {
              align-self: flex-start;
              padding: 0;
              margin-left: 7.2%;
              margin-top: 25px;
              margin-bottom: 25px;
              a {
                font-size: 4rem;
              }
            }
          }
        }
      }*/
}

#navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  //visibility: hidden;
  visibility: visible;

  @include breakpoint(medium) {
    visibility: visible;
  }

  li {
    padding: 10px 10px;
    line-height: 1;
    margin-bottom: 0;

    @include breakpoint(medium) {
      padding: 10px 10px;
    }

    @include breakpoint(large) {
      padding: 10px 15px;
    }

    &:first-of-type {
      padding-left: 0;
    }
    a {
      color: #4A4A4A;
      font-size: 1.1764705882352942rem;
      padding-bottom: 2px;
      transition: all 0.2s ease-in-out;
      &.active {
        box-shadow: 0 1px 0 rgba(168, 100, 168, 0.2901960784313726);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

#logo {
  //font-family: $bebas;
  font-size: 1.8823529411764706rem;
  letter-spacing: -1px;
  margin-right: auto;
  line-height: 1;
  animation-play-state: paused;

  @include breakpoint(medium) {
    font-size: 1.8823529411764706rem;
    margin-left: auto;
    margin-right: 0;
  }

  @include breakpoint(large) {
    font-size: 2.3529411764705883rem;
    margin-left: auto;
    margin-right: 0;
  }

  a {
    &:hover {
      color: #000;
      text-decoration: none;
      box-shadow: none;
    }
  }

  &:hover {
    animation-play-state: running;
  }
}
