@import "reset.scss";
@import "grid-settings.scss";
@import "components/components";
@import "variables/variables";

html {
  margin: 0px auto;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
}

body {
  font-family: var(--base-font);
  font-weight: normal;
  color: var(--black);
  line-height: 1.42857;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(120deg, rgb(244, 0, 136), rgb(101, 31, 255));
  padding: 4px;
  position: relative;
  @include breakpoint(medium) {
    padding: 10px;
  }
}

#home {
  scroll-behavior: smooth;
}

.container-wrap {
  min-height: calc(100vh - 8px);
  height: 100%;
  display: grid;
  grid-template-areas: "Header" "Main-content" "Footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  padding-left: 7%;
  padding-right: 7%;
  background: #fff;
  border-radius: 2px;
  @include breakpoint(medium) {
    min-height: calc(100vh - 20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

form {
  margin-top: 50px;
  margin-bottom: 0;

  @include breakpoint(medium) {
    margin-top: 70px;
    margin-bottom: 30px;
  }

  @include breakpoint(large) {
    margin-top: 70px;
    margin-bottom: 40px;
  }

}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  font-size: 17px;
  font-family: inherit;
}

textarea {
  min-height: 200px;
  resize: vertical;
  -webkit-appearance: none;
}

button {
  background-color: var(--primary-colour);
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  &:hover, &:active, &:focus {
    opacity: .9;
  }
}

input:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
}


.heading-wrap span {
  animation: fadeIn 1s ease var(--delay) backwards;
}

.heading-wrap .page-title {
  animation: fadeIn 3s ease .3s backwards;
}

#case-studies .item {
  animation: card__moveIn 3s cubic-bezier(.22,1,.32,1) var(--delay) backwards;

  &:nth-child(1) {
    --delay: 2s;
  }

  &:nth-child(2) {
    --delay: 2.1666666666666665s;
  }

  &:nth-child(3) {
    --delay: 2.3333333333333335s;
  }

  &:nth-child(4) {
    --delay: 2.5s;
  }

  &:nth-child(5) {
    --delay: 2.6666666666666665s;
  }

  &:nth-child(6) {
    --delay: 2.8333333333333335s;
  }

  &:nth-child(7) {
    --delay: 3s;
  }

  &:nth-child(8) {
    --delay: 3.166666666666667s;
  }

  &:nth-child(9) {
    --delay: 3.3333333333333335s;
  }

  &:nth-child(10) {
    --delay: 3.5s;
  }
}

@keyframes card__moveIn {
  0% {
      opacity: 0;
      transform: translateY(60px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

// page is loaded....
// body.loaded {
//   .heading-wrap span,
//   .heading-wrap .page-title,
//   #case-studies .item {
//     animation: none;
//   }
// }

body.home {
  #navigation li {
    &:first-of-type {
      > a {
        @extend .active;
      }
    }
  }
}

body.services {
  #navigation li {
    &:nth-child(2) {
      > a {
        @extend .active;
      }
    }
  }
}

body.contact {
  #navigation li {
    &:nth-child(3) {
      > a {
        @extend .active;
      }
    }
  }
}
