@use "../grid-settings";

#services {
  display: grid;
  grid-gap: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
  grid-template-columns: 1fr;
  @include grid-settings.breakpoint(medium) {
    grid-gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  @include grid-settings.breakpoint(large) {
    grid-gap: 5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  li {
    // padding: 2rem 0;
    max-width: 100%;

    @include grid-settings.breakpoint(medium) {
      // padding: 1.75rem 0;
      max-width: 70%;
    }

    h3 {
      @extend .h2 !optional;
      // margin-bottom: 0.75rem !important;
      margin-bottom: 0 !important;
      margin-top: 0;
    }

    p {
      color: var(--alt-black);
      line-height: 1.6;
      margin-bottom: 0;
      text-wrap: pretty;
    }
  }
}
