// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Karla:400,700|Crimson+Text);

:root {
  --base-font:             'Karla', sans-serif;
  --secondary-font:        'Crimson Text', serif;
  --logo-font:             'BebasNeueRegular';

  --primary-colour:        #A864A8;
  --black:                 rgb(57, 53, 49);
  --alt-black:             #9c9c9c;
  --grey:                  #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 20px;
  font-weight: 400;
}

h1 {
  font-size: 2.2rem;
  line-height: 45px;
  letter-spacing: -1px;
  @include breakpoint(medium) {
    font-size: 3.1176470588235294rem;
    line-height: 63px;
    letter-spacing: -1px;
  }

  @include breakpoint(large) {
    font-size: 3.1176470588235294rem;
    line-height: 63px;
    letter-spacing: -1px;
  }

  &.page-title {
    margin-bottom: 30px;
    @include breakpoint(medium) {
      margin-bottom: 50px;
    }

    @include breakpoint(large) {
      margin-bottom: 50px;
    }
  }

}

h2 {
  font-size: 1.4705882352941178rem;
  @include breakpoint(medium) {
    font-size: 1.6470588235294117rem;
  }

  @include breakpoint(large) {
    font-size: 1.8823529411764706rem;
  }
}

h3 {
  font-size: 1.411764705882353rem;
  margin-bottom: 10px;
  @include breakpoint(medium) {
    font-size: 1.6470588235294117rem;
  }
}

a {
  transition: all .2s ease 0s;
  color: var(--primary-colour);
  text-decoration: none;
  display: inline-block;
  &:hover {
    box-shadow: 0 1px 0 var(--grey);
  }
}

p {
  margin: 0 0 12px;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.tag {
  color: var(--alt-black);
  font-size: 0.9rem;
}
