:root {
  --base-font:             'Karla', sans-serif;
  --logo-font:             'Oswald';
  --primary-colour:        rgb(244, 0, 136);
  --pink:                  #ffd6ed;
  --green:                 #9cffdb;
  --blue:                  rgba(137, 212, 255, 0.5);
  --black:                 rgb(57, 53, 49);
  --alt-black:             #9c9c9c;
  --grey:                  #E5E5E5;
  --x:                     50%;
  --y:                     0%;
  font-size:               calc(1rem + ((1vw - 0.3rem) * 0.2222));
}

.h1, .h2, .h3, .h4, .h5 {
  font-weight: 400;
  line-height: 1.4;
}

.h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
  @include breakpoint(medium) {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
}

.h2 {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  @include breakpoint(medium) {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  @include breakpoint(large) {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }
}

.h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  @include breakpoint(medium) {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
  }
  @include breakpoint(large) {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
}

.h4 {
  font-size: 1.1rem;
  margin-bottom: .8rem;
  @include breakpoint(medium) {
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }
  @include breakpoint(large) {
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }
}

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}

h4 {
  @extend .h4;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 238);
  transition: color .4s ease-out;
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--grey);
    background: linear-gradient(#fff0, #fff0) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), var(--primary-colour), #651fff) border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
}

::selection {
  background-color: var(--primary-colour);
  color: #fff;
}

p {
  margin: 0 0 .8rem;
}

noscript {
  display: block;
  margin-bottom: .8rem;
  margin-top: .8rem;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}