@import "reset.scss";
@import "grid-settings.scss";
@import "components/components";
@import "variables/variables";

// @import "grid-settings";

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#logo {
  font-family: $bebas;
}

html {
  max-width: 1600px;
  margin: 0px auto;
  background-position: 0 0;
  background-repeat: repeat;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
}

body {
  font-family: $karla;
  font-weight: normal;
  color: $black;
  line-height: 1.42857;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  min-height: 100vh;
}

#Header,
#Footer,
#Header + section,
.control-width {
  padding-left: 7%;
  padding-right: 7%;
  margin-left: auto;
  margin-right: auto;
}

section#home {
  padding-left: 0;
  padding-right: 0;
}


form {
  margin-top: 50px;
  margin-bottom: 0;

  @include breakpoint(medium) {
    margin-top: 70px;
    margin-bottom: 30px;
  }

  @include breakpoint(large) {
    margin-top: 70px;
    margin-bottom: 40px;
  }

}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  font-size: 17px;
  font-family: inherit;
}

textarea {
  min-height: 200px;
  resize: vertical;
  -webkit-appearance: none;
}

button {
  background-color: $purple;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  &:hover, &:active, &:focus {
    opacity: .9;
  }
}

input:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"] {
    -webkit-appearance: none;
}
